*
{
    margin: 0px;
    padding: 0px;
}
.navbar
{
    background: #000;
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0px;
    justify-content: space-evenly;
}
.navbar .link
{
    padding: 15px 5px;
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    color: rgb(250, 239, 232);
    text-decoration: none;
}

.navbar .link:hover
{
    background-color: rgb(247, 247, 247);
    color: #000;
}

#home
{
    height: 65vh;
    width: 100vw;
    background-color: rgb(157, 248, 248);
    display: grid;
    grid-template-areas: 'profile profile profile details details';
}
.profile
{
    grid-area: profile;
    background-color: #f8f3be;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail
{
    grid-area: details;
    background-color: azure;
    display: block;
    align-items: center;
    padding: 50px;
}
